<h4 *ngIf="selectedItem">
  <button (click)="onClickBreadcrumb(item)" mat-button color="accent" *ngFor="let item of breadCrumb">
    <mat-icon>arrow_forward_ios</mat-icon>
    <span class="prefix-space">{{item.name}}</span>
  </button>
</h4>
<mat-accordion *ngIf="properties" class="my-headers-align">
  <mat-expansion-panel *ngFor="let property of properties">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ property.name }}</mat-panel-title>
      <mat-panel-description>{{ property.value }}</mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field *ngIf="property.value !== '...'">
      <input matInput placeholder="{{ property.value }}">
    </mat-form-field>
    <p>
      <mat-accordion *ngIf="property.childProperites">
        <mat-expansion-panel *ngFor="let childProperty of property.childProperites">
            <mat-expansion-panel-header>
              <mat-panel-title>{{ childProperty.name }}</mat-panel-title>
              <mat-panel-description>{{ childProperty.value }}</mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field>
              <input matInput placeholder="{{ childProperty.value }}">
            </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </p>
  </mat-expansion-panel>  
</mat-accordion>

<mat-list *ngIf="items">
  <mat-list-item *ngFor="let item of items">
    <button (click)="onClickItem(item)" mat-mini-fab><mat-icon>arrow_forward_ios</mat-icon></button>
    <span (click)="onClickItem(item)" class="prefix-space">{{ item.name}}</span>
  </mat-list-item>
</mat-list>